
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

*.suo
*.user
*.sln.docstates

[Bb]uild/
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
[Bb]in
[Oo]bj
sql
*.Cache
~$*
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.DS_Store
.idea
